@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Bold.woff2") format("woff2"), url("../fonts/MartianMono-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Light.woff2") format("woff2"), url("../fonts/MartianMono-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Medium.woff2") format("woff2"), url("../fonts/MartianMono-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Regular.woff2") format("woff2"), url("../fonts/MartianMono-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Thin.woff2") format("woff2"), url("../fonts/MartianMono-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Bold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Light.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Medium.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Regular.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Thin.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Bold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Light.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Medium.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Regular.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Thin.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Bold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Light.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Medium.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Regular.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Thin.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Bold.woff2") format("woff2"), url("../fonts/MartianMono-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Light.woff2") format("woff2"), url("../fonts/MartianMono-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Medium.woff2") format("woff2"), url("../fonts/MartianMono-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Regular.woff2") format("woff2"), url("../fonts/MartianMono-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono;
	font-display: swap;
	src: url("../fonts/MartianMono-Thin.woff2") format("woff2"), url("../fonts/MartianMono-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Bold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Light.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Medium.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Regular.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_Condensed;
	font-display: swap;
	src: url("../fonts/MartianMono_Condensed-Thin.woff2") format("woff2"), url("../fonts/MartianMono_Condensed-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Bold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Light.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Medium.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Regular.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiCondensed;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiCondensed-Thin.woff2") format("woff2"), url("../fonts/MartianMono_SemiCondensed-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Bold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-ExtraBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-ExtraLight.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Light.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Medium.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Regular.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-SemiBold.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MartianMono_SemiExpanded;
	font-display: swap;
	src: url("../fonts/MartianMono_SemiExpanded-Thin.woff2") format("woff2"), url("../fonts/MartianMono_SemiExpanded-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
